 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  font-size:100%;
}

.container {
  padding:50px;
  width:90%;
  margin:0 auto;
  border:1px solid black;
  @include clearfix;
}

.food-container {
  @include span-columns(6);
  @include shift(1);
  border:1px solid red;

  h1 {
    display:inline-block;
    margin:7px;
  }

  img {
    float:right;
    margin:5px;
  }

  span {
    float:right;
  }
}

.categories {
  @include span-columns (3);
  @include shift(1);
  border:1px solid green;
  text-align:center;
  padding:10px;
}

.food-item {
  padding:10px;
  border-bottom:1px solid grey;
}
