<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Backbone_Menu</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div class='page-container'>
      <div class="inner-container">
        <header>
          <div>
          </div>
          <h1>Majestic Thai</h1>
        </header>
        <div class="food-container">

          <script type="text/template" id="food-template">

          <div class="food-item">
            <h1><%= title %></h1>
            <img src=<%= img_url %>>
            <p><%= description %></p>
            <div class='button add-button'>Add To Order</div>
            <span>$<%=price%></span>
          </div>

          </script>

          <script type="text/template" id="order-template">
            <span class='title'><%= title %></span>
            <span class='price'>$<%= price %></span>
            <div class="button remove-button remove">Remove</div>
          </script>

          <script type="text/template" id="order-total">
            <% if(total > 0) { %>
            <span>Total Price: $<%= total %></span>
            <div class='submit-button button'>Check Out</div>
            <% } %>
          </script>


        </div>
        <div class="categories"></div>
        <div class="order-summary">
          <h2>Order Summary</h2>
          <div class="order-items"></div>
          <div class="order-total"></div>
        </div>
        <footer>
          <span>Copyright 2014 Majestic Thai ®</span>
        </footer>
      </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <script src="../bower_components/firebase/firebase.js"></script>
    <script src="../bower_components/backfire/backbone-firebase.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/menu.js"></script>
        <script src="scripts/categories.js"></script>
        <!-- endbuild -->
</body>
</html>
